@import "tailwindcss";
@plugin "tailwindcss-animate";

@theme {
    --color-jkuat-green: #11DC15;
    --color-jkuat-red: #dc1511;
    --color-jkuat-bg: #f4f7f5;
    --color-jkuat-blue: #1511DC;
}

body {
  background-color: var(--color-jkuat-bg);
}